*{
    margin:0px;
    padding:05px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  body{
    height: 130vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.freepik.com/free-photo/ready-back-school_1134-12.jpg?w=1060&t=st=1690372973~exp=1690373573~hmac=b85ba03d599fc9430b8754752b557f4cfda9abc32d01d2412139ff2f192d28cd");
    background-size: cover ;
  }
  .container{
          border:1px solid black;
  }
  #education appointment form{
  
    box-shadow: 15px 15px 30px rgb(90, 80, 183);
    height: 500px;
    width: 500px;
    border-radius: 10px;
    color:rgb(54, 43, 43);
    padding: 20px;
 }